.SideDrawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 200;
    background-color: rgba(12, 10, 123);
    padding: 32px 16px;
    transition: transform 0.3s ease-out;
}

.Logo {
    min-width: 100%;
    height: 70px;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}


@media screen and (min-width: 620px) {
    .SideDrawer {
        display: none;
    }
}