.PlusContainer {
   position: absolute;
   top: 4px;
   right: 12px;
}

.ListItem {
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}

@keyframes blinking{
    50% {
        color: rgb(8, 66, 8);
    }
}

.EditObject {
    cursor: pointer;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

