.PlusContainer {
   position: absolute;
   top: 4px;
   right: 12px;
}

.ListItem {
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.EditObject {
    cursor: pointer;
}
