.SectionContent {
    background-color: #C5A862;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
    grid-column: 1/7;
    justify-self: center;
    width: 90%;
    max-width: 400px;
    border: 1px solid black;
    box-shadow: 5px 4px 19px 4px rgba(0,0,0,0.42);
    position: relative;
}

.SectionHeader {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 30px 5px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    text-transform: capitalize;
}

@media screen and (min-width: 920px) {

    .SectionContent:nth-child(odd) {
        grid-column: 2/5;
    }
    .SectionContent:nth-child(even) {
        grid-column: 6/9;
    }
    .SectionContent:nth-child(odd):nth-last-child(1) {
        grid-column: 4/7;
    }
}