.Button {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.2s;
}

.Button:hover {
    transition: 0.2s;
    color: rgba(255,255,255, 0.8);
}

.Success {
    background-color: #abc08d;
    
}

.Danger {
    background-color: #ca6c6c;
}

.Normal {
    background-color: #CCC;
}

.Success:hover {
    background-color: #5c9210;
}

.Danger:hover {
    background-color: #9c1717;
}

.Normal:hover {
    background-color: #888;
}