.Form {
background-color: rgb(200, 200, 200);
border-radius: 20px;
max-width: 1200px;
margin: 40px 10px 0;
}

.Form h2 {
    text-align: center;
}

.FieldContainer {
    width: 70%;
    max-width: 300px;
    margin: 10px auto 0;
}

.Field {
    font-size: 1.2em;
    display: flex;
    flex-flow: column;
}

.ButtonsContainer {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.Input {
    font-size: inherit;
    padding: 6px 8px 10px 8px;
    border: 1px solid #ccc;
    margin: 5px 0;
  }