.Form {
background-color: rgb(200, 200, 200);
border-radius: 20px;
max-width: 980px;
margin: 40px 10px 0;
}

.Form h2 {
    text-align: center;
}

.FieldContainer {
    width: 70%;
    max-width: 300px;
    margin: 5px auto 0;
}

.Field {
    font-size: 1.2em;
    display: flex;
    flex-flow: column;
}

.ButtonsContainer {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.Input, .TextArea {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: inherit;
    padding: 6px 8px 6px 8px;
    border: 1px solid #ccc;
    margin: 5px 0;
  }

  .TextArea {
      height: 100px;
      resize: none;
  }

  .InputError {
      background-color: rgb(245, 176, 176);
      border: 1px solid rgb(248, 35, 35);
  }

  .ErrorMessage {
      height: 0.6em;
      font-size: 0.6em;
      color: rgb(214, 1, 1);
  }

  @media screen and (min-width: 920px) {
      .Form {
          margin: 40px auto 0;
      }
  }