.Halls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.Hall:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
    margin: 0 25%;
}

.Link {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    margin: 20px 30px;
}

.Link:hover {
    transform: scale(1.1);
}

.Buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}


