.FarmContent {
    background-color: #C5A862;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 30px;
    grid-column: 2/6;
    justify-self: center;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    box-shadow: 5px 4px 19px 4px rgba(0,0,0,0.42);
}

.FarmHeader {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px 30px;
    border-bottom: 1px solid black;
}

.Halls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.Hall:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
    margin: 0 25%;
}

.Hall a {
    display: block;
    text-align: center;
    padding: 20px 40px;
}

.Buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

@media screen and (min-width: 920px) {

    .FarmContent:nth-child(odd) {
        grid-column: 2/5;
    }
    .FarmContent:nth-child(even) {
        grid-column: 6/9;
    }
}


